/* CSS - main */
body {
  font-family: "Roboto Condensed", sans-serif;
}

#content {
  background-color: #66BFBF;
}

/* images */
.mcsawasdee-img {
  width: 40%;
  margin-left: 60px;
}

.sticker-img {
  width: 60%;
}

/* container */
.container-fluid {
  padding: 3% 15%;
}

/* content */
.content-1 {
  font-family: "Kaushan Script";
  font-size: 3rem;
  line-height: 1.5;
  color: #66BFBF;
}

.content-2 {
  font-family: "Kaushan Script";
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

/* button */
.btn-custom {
  margin: 5% 4% 5% 0;
}

/* navigation bar */
.navbar-brand {
  color: #66BFBF;
  font-size: 2rem;
}

.navbar {
  padding: 0 0 2.5rem;
}

.navbar-custom {
  font-size: 2rem;
  margin: 0 50px 0 0;
}

/* footer */
.footer-custom {
  text-align: center;
  color: grey;
}
